body {
    overflow-x: hidden;
}

.fs-section:first-child {
    display: flex;
    flex-flow: row;
}

header.header-text {
    display: flex;
    padding-left: 5%;
    width: 50vw;
    height: 100vh;
    background-image: linear-gradient(
        180deg,
        var(--backgroundColorDark) 0%,
        var(--backgroundColorDark) 90%,
        rgba(0, 0, 0, 0) 100%
    );
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;
    clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
}

header.header-text h1 {
    font-size: 2.75vmax;
}

header.header-text h3 {
    color: var(--textColorDark);
    font-size: 1.5vmax;
    font-weight: 300;
}

header.header-text ~ div {
    position: relative;
    width: 50vw;
    height: 100vh;
}

.fs-section:nth-child(2) {
    padding: 5%;
}

.fs-section:nth-child(2) h1 {
    --divHeaderSpacing: 50px;
    margin-bottom: var(--divHeaderSpacing);
}

.fs-section:nth-child(2) div {
    display: flex;
    width: 100%;
    height: 75px;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.fs-section:nth-child(2) h3 {
    margin-right: 10px;
    font-size: 3vmax;
}

.fs-section:nth-child(2) div div.programmer-cube-canvas {
    padding: 20px;
    height: 100%;
    width: auto;
    border: 2px solid rgba(100, 100, 100, 0.3);
    /* backdrop-filter: blur(20px); */
}

.fs-section:nth-child(2) div div.programmer-cube-canvas span {
    font-size: 3vmax;
}

/* style reusable */
.fs-section h1 {
    color: var(--colorGrey);
    font-size: 4vmax;
    font-weight: 300;
}

a.link-button {
    display: inline-block;
    width: fit-content;
    height: fit-content;
}
