@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
    --backgroundColorPrimary: #111;
    --textColorPrimary: #fff;
    --accentColorPrimary: #6c5ce7;
    --accentColorSecondary: #a29bfe;
}

* {
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    transform: none;
    box-sizing: border-box;
}

html {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 200;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--backgroundColorPrimary);
    color: var(--textColorPrimary);
}

i.fa-solid {
    color: inherit;
}

a,
button {
    outline: none;
    cursor: pointer;
}

*:focus {
    transition: outline 250ms linear;
    outline: 2px solid rgba(100, 100, 100, 0.25);
}

::-webkit-scrollbar {
    width: 0.35em;
    z-index: -1;
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb {
    background-color: var(--accentColorPrimary);
    border-radius: 50px;
}

ul.navigation_bar {
    position: fixed;
    display: flex;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    left: 0;
    top: 0;
    width: 100vw;
    height: 5vh;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

ul.navigation_bar div {
    position: absolute;
    left: 2%;
    top: 50%;
    transform: translateY(-50%);
}

ul.navigation_bar div span {
    font-size: 80%;
}

ul.navigation_bar li {
    display: flex;
    margin: 0 1%;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

ul.navigation_bar li * {
    margin: 0.125em;
}

li.navigation__item i {
    color: var(--accentColorSecondary);
}

li.navigation__item a {
    color: var(--accentColorPrimary);
    text-decoration: none;
    transition: filter 250ms linear;
}

li.navigation__item a:hover,
li.navigation__item a:focus {
    filter: brightness(1.5);
}
