<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>MYP1 - mnis.xyz</title>
        <script
            src="https://kit.fontawesome.com/05a3d751a1.js"
            crossorigin="anonymous"
        ></script>
        <link rel="stylesheet" href="../css/root.css" type="text/css" />
        <link
            rel="stylesheet"
            href="../css/pages/myp1.page.css"
            type="text/css"
        />
        <link
            rel="shortcut icon"
            href="../assets/favicon.png"
            type="image/png"
        />
    </head>
    <body>
        <script
            src="../pages/posts/build/post.api.js"
            type="text/javascript"
        ></script>
        <ul class="navigation_bar">
            <div>
                <b>art</b><i><span>.mynameisandrew.xyz</span></i>
            </div>
            <li class="navigation__item" title="Site Home">
                <i class="fa-solid fa-house"></i>
                <a href="/">Home</a>
            </li>
            <li class="navigation__item" title="Freshman Art Program">
                <i class="fa-solid fa-paint-roller"></i>
                <a href="/public/pages/myp1.page.html">MYP 1</a>
            </li>
        </ul>
        <main>
            <h1>My Artworks in the MYP1 Year</h1>
            <div id="post-grid">
                <!-- <article
                    data-manifest-id="post1"
                    title="Art Journal Cover"
                    style="
                        --bg-url: url(https://assets.reedpopcdn.com/Genshin-Impact-anime.jpg/BROK/resize/1200x1200%3E/format/jpg/quality/70/Genshin-Impact-anime.jpg);
                        --timestamp: '23-09-2022';
                    "
                >
                    <p>Art Journal Cover</p>
                </article> -->
                <!---->
            </div>
            <iframe
                class=""
                id="post-load"
                src="./posts/postload.iframe.html"
            ></iframe>
        </main>
    </body>
</html>
